.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            Contact us
            %small Who Are We?
          %br
          %dl
            %dt Ben Ainscough - Creator, Curator, Developer
            %dd= link_to 'Genome Institute profile', 'http://genome.wustl.edu/people/individual/benjamin-ainscough/'
            %dd= mail_to 'bainscou@genome.wustl.edu', 'email'
            %br
            %dt Adam Coffman - Lead Software Developer
            %dd= link_to 'GitHub profile', 'https://github.com/acoffman'
            %dd= mail_to 'acoffman@genome.wustl.edu', 'email'
            %br
            %dt Josh McMichael - User experience (UX) developer
            %dd= link_to 'Genome Institute profile', 'http://genome.wustl.edu/people/individual/joshua-mcmichael/'
            %dd= mail_to 'jmcmicha@genome.wustl.edu', 'email'
            %br
            %dt Malachi Griffith, PhD - Creator, PI/Mentor
            %dd= link_to 'Genome Institute profile', 'http://genome.wustl.edu/people/individual/malachi-griffith/'
            %dd= mail_to 'mgriffit@genome.wustl.edu', 'email'
            %br
            %dt Obi Griffith, PhD - Creator, PI/Mentor
            %dd= link_to 'Genome Institute profile', 'http://genome.wustl.edu/people/individual/obi-griffith/'
            %dd= mail_to 'ogriffit@genome.wustl.edu', 'email'
            %br
            %dt Elaine Mardis, PhD - PI/Mentor
            %dd= link_to 'Genome Institute profile', 'http://genome.wustl.edu/people/individual/elaine-mardis/'
            %dd= mail_to 'emardis@genome.wustl.edu', 'email'
            %br
            %dt Rick Wilson, PhD - PI/Mentor
            %dd= link_to 'Genome Institute profile', 'http://genome.wustl.edu/people/individual/richard-wilson/'
            %dd= mail_to 'rwilson@genome.wustl.edu', 'email'
            %br
            %dt Expert Contributions
            %dd Tim Ley, MD
            %dd Ron Bose, MD, PhD
            %dd Mathew Ellis, MD
            %dd Ramaswamy Govindan, MD
            %dd Siddhartha Devarakonda, MD
            %br
            %dt Curators
            %dd Mayank Choudhary, Jason Kunisaki