.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            FAQ
            %small Frequently Asked Questions
          %dl
            %dt How do I cite DoCM?
            %dd 
              A manuscript for DoCM is currently in preparation. In the meantime please 
              cite http://docm.genome.wustl.edu.
            %br
            %dt How do I contribute a variant to DoCM?
            %dd
              We welcome candidate variant submissions which will allow this resource to be more comprehensive and
              useful to the community at large. If you have a submission please fill out a #{link_to 'variant submission form', '/varian_submission'}.
              If you would like to contribute your curation efforts to DoCM please #{link_to 'contact us', '/contact'}.
            %br
            %dt Is the DoCM web client open source?
            %dd
              Of course! Shouldn't all scientific software be? DoCM is released under the #{link_to 'MIT License','http://opensource.org/licenses/MIT'}
              and you can find the code on #{link_to 'GitHub', 'https://github.com/genome/docm'}. Send us a pull request,
              we would love to review your code and incorporate features from the community.
            %br
            %dt How do I use the DoCM API?
            %dd
              The API can be queried using HTTP requests. More information can be
              found at our #{link_to 'API Documentation', '/api'} page.
            %br
            %dt How often is DoCM updated?
            %dd 
              DoCM is updated as new curated lists and variants are brought
              to our attention. If you think we are missing a variant or need to 
              update a record, #{link_to 'please submit your query', '/variant_submission'}.
            %br
            %dt How do I download DoCM variants?
            %dd 
              You can download variants via the #{link_to 'API', '/api'}, or you can
              use the TSV or VCF buttons on the main page. These will be filtered 
              according to the criteria that you specify (i.e. chromosome, disease, etc) in the left sidebar.
              The TSV button will download a tab separated values file. The VCF button will
              download a variant call format file.
            %br
            %dt How is versioning handled in DoCM?
            %dd
              The DoCM web interface API features a comprehensive versioning system that allows users view and download
              previous versions of the database. By default the web client displays the current version of the database;
              to access a prior version of the database with the web client select your desired version from the 'version'
              field on the left sidebar. To download a prior version using the API use version parameter.
              #{link_to 'See the API documentation for more information', '\api'}.



