.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            News
          %br
          .news-items
            .news-item
              %p.lead 2/22/16
              %p Database update. Automatic importer implemented to automatically import relevant variants from #{link_to 'CIViC', 'https://civic.genome.wustl.edu'}, a database of clinical interpretations of variants in cancer.
            .news-item
              %p.lead 1/15/16
              %p API versioning system implemented, allowing past snapshots of the database to be queried.
            .news-item
              %p.lead 1/4/16
              %p DoCM cited by #{link_to 'Wagner, A. H. et al. DGIdb 2.0: mining clinically relevant drug-gene interactions. Nucleic Acids Res 44, D1036-1044, doi:10.1093/nar/gkv1165 (2016).', 'http://www.ncbi.nlm.nih.gov/pubmed/26531824'}. Drug-gene interactions from DoCM are now aggregated along with other sources in #{link_to 'DGIdb', 'http://www.dgidb.org'}'.
            .news-item
              %p.lead 7/14/15
              %p Database update. Integrated variants from #{link_to 'LE MacConail et al. 2014', 'http://www.ncbi.nlm.nih.gov/pubmed/25157968'}. 360 new variants from 63 genes representing 35 different cancer subtypes.
            .news-item
              %p.lead 6/12/2015
              %p DoCM cited by #{link_to 'Leiserson, M. D. et al. MAGI: visualization and collaborative annotation of genomic aberrations. Nat Methods 12, 483-484, doi:10.1038/nmeth.3412 (2015).', 'http://www.ncbi.nlm.nih.gov/pubmed/26020500'}.
            .news-item
              %p.lead 5/21/2015
              %p DoCM cited by #{link_to 'Krogan, N. J., Lippman, S., Agard, D. A., Ashworth, A. & Ideker, T. The cancer cell map initiative: defining the hallmark networks of cancer. Mol Cell 58, 690-698, doi:10.1016/j.molcel.2015.05.008 (2015).', 'http://www.ncbi.nlm.nih.gov/pubmed/26000852'}.
            .news-item
              %p.lead 4/15/2015
              %p DoCM cited by #{link_to 'McGranahan, N. et al. Clonal status of actionable driver events and the timing of mutational processes in cancer evolution. Sci Transl Med 7, 283ra254, doi:10.1126/scitranslmed.aaa1408 (2015).', 'http://www.ncbi.nlm.nih.gov/pubmed/25877892'}.
            .news-item
              %p.lead 2/26/15
              %p DoCM presented at AGBT in San Marco Island, Fl.
            .news-item
              %p.lead 2/7/15
              %p DoCM presented at the AACR Translation of the Cancer Genome meeting in San Fransisco.
            .news-item
              %p.lead 2/7/15
              %p DoCM launch.
            .news-item
              %p.lead 12/26/14
              %p Database update. Variants and metadata added from #{link_to 'Dienstmann et al. 2014', 'http://www.ncbi.nlm.nih.gov/pubmed/24768039'}.
            .news-item
              %p.lead 10/2/14
              %p DoCM Beta test launch. Please submit feedback to #{link_to 'Ben Ainscough', 'mailto:bainscou@genome.wustl.edu'}.
