.container-fluid
  .page-background
    .row
      .col-md-8.main.col-md-offset-2
        .col-md-12
          %h1.page-header
            Sources
          %p.lead
            DoCM, the Database of Curated Mutations, is a highly curated database of known,
            disease-causing mutations that provides easily explorable variant lists with direct links to source
            citations for easy verification.
            %br
          %h2
            DoCM currently captures variants from
            = @source_count
            unique publications.
          %hr
          %h3 How is the literature curated to produce DoCM?
          %p
            Publications are identified for curation by disease experts and through review of published lists and resources
            that outline important cancer mutations. Mutations outlined in the literature are included in DoCM if they
            satisfy the criteria listed below.
          %h5
            Criteria for inclusion into DoCM
          %p Clinical evidence
          %ul
            %li Drug targets associated with a mutation
            %li Diagnostic or prognostic markers associated with a mutation
          %p Functional evidence
          %ul
            %li Disease function described in cell lines
            %li Disease function described in animal models
            %li Extremely recurrent mutation coupled with expert opinion of the significance of the mutation
          %p
            Using context clues of the citing literature, useful metadata is obtained
            from public datasets to uniquely identify a mutation (such as genomic position and transcript), map the mutation to a
            disease (using the #{link_to 'disease ontology', 'http://disease-ontology.org'}), and catalogue other useful information.
          %p
            The following is an anecdotal example of the curation involved for the variant BRAF V600E. Typically the
            literature only lists the gene and amino acid change, requiring extensive curation to uniquely identify
            the variant. Correct genomic coordinates on a consistent genome build need to be identified, with
            accompanying nucleotide information. Occassionaly there are multiple nucleotide changes
            that are synonymous with a particular amino acid change. A representative transcript that correctly models
            the mutation described in the literature also needs to be specified. Cancer subtypes are specified using the
            disease ontology nomenclature. Tags can be added to an individual variant to provide useful metadata, examples
            include "pathogenic", "functional mouse model", "prognostic", and/or "activating".
          %p
            = image_tag("curation.png")
          %p
            Variants should be grouped into batches by commonalities like disease or mutation type if curated directly
            from the literature. Batches can also be created based on a publically available listing of variants that is
            in scope, like My Cancer Genome or the Drug Gene Knowledge Database. Batches can be submitted, following
            the #{link_to 'batch submission instructions',  '/batch_submission_help'}, on
            the #{link_to 'batch submission page', '/batches/new'}. Curators should annotate their curation process and
            explain the reasoning for including a batch into DoCM in the batch rationale statement on the submission form.
            This statement allows more transparency to the curation process and allows DoCM users to better understand
            why variants were included.
          %p
            Following submission of a batch, the DoCM web app automatically annotates the variant using #{link_to'VEP', 'http://rest.ensembl.org/#Variation'},
            validates the the publications pubmed ids using PubMed, and validates the disease ontology ids using
            the #{link_to 'disease ontology API', 'http://www.disease-ontology.org'}. After annotation and validation, the variants are reviewed by the
            moderators listed on #{link_to 'DoCM’s about page', 'http://docm.genome.wustl.edu/about'}. DoCM moderators
            ensure that the a submitted batch contains no errors in annotation and validation, that the batch is in
            scope of the resource, and that the variants appear to be referenced in the listed literature. The moderator
            will start a dialogue with the submitter via email to correct any errors/discrepancies and then accept or
            reject the variants in the batch. These variants are then staged for inclusion in DoCM and upon submission
            of multiple batches the moderator can create a new version of the database.
          %hr
          %h3 Datasets that were curated and included in DoCM
          %ul
            - @batches.each do |batch|
              %li= link_to(batch.name, batch.link_path)
          %hr
          %h3 Papers citing http://docm.info
          %ul
            %li #{link_to 'McGranahan, N. et al. Clonal status of actionable driver events and the timing of mutational processes in cancer evolution. Sci Transl Med 7, 283ra254, doi:10.1126/scitranslmed.aaa1408 (2015).', 'http://www.ncbi.nlm.nih.gov/pubmed/25877892'}
            %li #{link_to 'Leiserson, M. D. et al. MAGI: visualization and collaborative annotation of genomic aberrations. Nat Methods 12, 483-484, doi:10.1038/nmeth.3412 (2015).', 'http://www.ncbi.nlm.nih.gov/pubmed/26020500'}
            %li #{link_to 'Krogan, N. J., Lippman, S., Agard, D. A., Ashworth, A. & Ideker, T. The cancer cell map initiative: defining the hallmark networks of cancer. Mol Cell 58, 690-698, doi:10.1016/j.molcel.2015.05.008 (2015).', 'http://www.ncbi.nlm.nih.gov/pubmed/26000852'}
            %li #{link_to 'Wagner, A. H. et al. DGIdb 2.0: mining clinically relevant drug-gene interactions. Nucleic Acids Res 44, D1036-1044, doi:10.1093/nar/gkv1165 (2016).', 'http://www.ncbi.nlm.nih.gov/pubmed/26531824'}