.container-fluid
  .page-background
    .row
      .col-md-10.col-md-offset-1
        %h1.page-header
          =@variant.hgvs
    .row
      .col-md-10.col-md-offset-1
        %h4 Variant Data
        .well.col-md-12
          .col-md-6
            %h4
              .small
                %strong Location
            %ul.list-unstyled
              %li
                %strong Reference Version:
                = @variant.location.reference_sequence_version
              %li
                %strong Chromosome:
                = @variant.location.chromosome
              %li
                %strong Start:
                = @variant.location.start
              %li
                %strong Stop:
                = @variant.location.stop
              %li
                %strong Strand:
                = @variant.strand
              %li
                %strong Transcript:
                = @variant.transcript_name
                %small
                  = @variant.transcript_information
              %li
                %strong Gene:
                = @variant.gene_name
                (
                = @variant.dgidb_row
                )
          .col-md-6
            %h4
              .small
                %strong Information
            %ul.list-unstyled
              %li
                %strong Reference:
                = @variant.location.reference_read
              %li
                %strong Variant:
                = @variant.variant
              %li
                %strong Amino Acid:
                = @variant.amino_acid.name
              %li
                %strong Mutation Type:
                = @variant.mutation_type.name
              %li
                %strong Variant Type:
                = @variant.variant_type.name
              %li
                %strong cDNA Change:
                = @variant.cdna_change

    .row
      .col-md-10.col-md-offset-1
        %h4 Disease Data
        .well.col-md-12
          %table.table.table-striped
            %thead
              %th Disease
              %th Source
              %th External Links
            %tbody
              - @variant.disease_rows.each do |row|
                %tr
                  %td= row.disease
                  %td= row.source
                  %td= row.my_cancer_genome_link
    - if @variant.drug_interactions.any?
      .row
        .col-md-10.col-md-offset-1
          %h4
            Drug Interaction Data
            %small
              supplied by the
              = link_to 'Dienstman Knowledge Database', 'https://www.synapse.org/#!Synapse:syn2370773'
          .well.col-md-12
            %table.table.table-striped
              %thead
                %th Drug
                %th Pathway
                %th Effect
                %th Association
                %th Status
                %th Evidence
                %th Source
              %tbody
                - @variant.interaction_rows.each do |row|
                  %tr
                    %td= row.drug
                    %td= row.pathway
                    %td= row.effect
                    %td= row.association
                    %td= row.status
                    %td= row.evidence_type
                    %td= row.source
