.container-fluid
  .page-background
    .row
      .col-md-10.col-md-offset-1
        %h1.page-header
          =@variant.hgvs
    .row
      .col-md-10.col-md-offset-1
        %h4 Variant Data
        .well.col-md-12
          .col-md-6
            %h4
              .small
                %strong Location
            %ul.list-unstyled
              %li
                %strong Reference Version:
                = @variant.location.reference_sequence_version
              %li
                %strong Chromosome:
                = @variant.location.chromosome
              %li
                %strong Start:
                = @variant.location.start
              %li
                %strong Stop:
                = @variant.location.stop
              %li
                %strong Strand:
                = @variant.strand
              %li
                %strong Transcript:
                = @variant.transcript_name
                %small
                  = @variant.transcript_information
              %li
                %strong Gene:
                = @variant.gene_name
                (
                = @variant.dgidb_row
                )
          .col-md-6
            %h4
              .small
                %strong Information
            %ul.list-unstyled
              %li
                %strong Reference:
                = @variant.location.reference_read
              %li
                %strong Variant:
                = @variant.variant.variant
                = @variant.civic_row
              %li
                %strong Amino Acid:
                = @variant.amino_acid.name
              %li
                %strong Mutation Type:
                = @variant.mutation_type.name
              %li
                %strong Variant Type:
                = @variant.variant_type.name
              %li
                %strong cDNA Change:
                = @variant.cdna_change
              %li
                %strong Tags:
                - @variant.tag_links.each do |tag_link|
                  = tag_link

    .row
      .col-md-10.col-md-offset-1
        %h4 Disease Data
        .well.col-md-12
          %table.table.table-striped
            %thead
              %th Disease
              %th Source
              %th
                Batch
                %span{class: 'glyphicon glyphicon-question-sign', data: { toggle: 'tooltip', placement: 'top', title: 'Mouse over a batch to see why its variants were included in DoCM'}}
              %th Tags
              %th External Links
            %tbody
              - @variant.disease_rows.each do |row|
                %tr
                  %td= row.disease
                  %td= row.source
                  %td= row.batch
                  %td= row.tags
                  %td= row.external_links
    - if @variant.meta_tables.any?
      - @variant.meta_tables.each do |table|
        .row
          .col-md-10.col-md-offset-1
            %h4= table.name
            .well.col-md-12
              %table.table.table-striped
                %thead
                  - table.columns.each do |col|
                    %th=col
                %tbody
                  - table.rows.each do |row|
                    %tr
                      - row.each do |cell|
                        %td= cell
:javascript
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
