.container-fluid
  .page-background
    .row
      .col-md-10.col-md-offset-1
        %h1.page-header
          =@batch.name
    .row
      .col-md-10.col-md-offset-1
        %h4 Batch Information
        .well.col-md-12
          .col-md-6
            %ul.list-unstyled
              %li
                %strong Sumitted By:
                = @batch.submitter_name
              %li
                %strong Submitter Affiliation:
                = @batch.submitter_affiliation
              %li
                %strong Submission Date:
                = @batch.created_at.strftime('%v')
              %li
                %strong Reference URL:
                - if @batch.reference_url
                  = link_to('Visit', @batch.reference_url)
                - else
                  N/A
          .col-md-6
            %ul.list-unstyled
              %li
                %strong Last Review Date:
                = @batch.updated_at.strftime('%v')
              %li
                %strong Total Variants:
                = @batch.variants.count
              %li
                %strong View Variants:
                = link_to(@batch.name, "/?batches=#{@batch.name}")

    .row
      .col-md-10.col-md-offset-1
        %h4 Justification for Inclusion
        .well.col-md-12
          %p= @batch.reason_for_inclusion
    .row
      .col-md-10.col-md-offset-1
        %h4 Submission Status
        %table.table.table-striped.table-bordered.table-condensed
          %tr
            %th Chr
            %th Start
            %th Stop
            %th Ref
            %th Var
            %th DOID
            %th Pubmed Id
            %th Status
            %th Message
          - @batch.submitted_variants.each do |variant|
            %tr
              %td= variant.chromosome
              %td= variant.start
              %td= variant.stop
              %td= variant.reference
              %td= variant.variant
              %td= variant.doid
              %td= variant.pubmed_id
              %td= variant.status
              %td= variant.message

