!!!
%html{:lang => "en"}
  %head
    %meta{charset: 'utf-8'}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title DoCM - Database of Curated Mutations
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  %body
    .container-fluid
      .row
        .header
          .col-xs-12.col-sm-5.col-md-4
            %a{href: '/'}
              = image_tag("header_logo.png", :class => 'img-responsive')
          .col-xs-12.col-sm-7.col-md-8
            %div.hidden-xs.lg-menu-container
              %ul.pull-right.menu-main.lg
                %li{class: @news_active}
                  %a{href: '/news'} News
                %li{class: @contact_active}
                  %a{href: '/contact'} Contact
                %li{class: @sources_active}
                  %a{href: '/sources'} Sources
                %li{class: @api_active}
                  %a{href: '/api'} API Documentation
                %li{class: @faq_active}
                  %a{href: '/faq'} FAQ
            %div.visible-xs.xs-menu-container
              %ul.menu-main.sm
                %li{class: @about_active}
                  %a{href: '/about'} About
                %li{class: @start_active}
                  %a{href: '/start'} Getting Started
                %li{class: @faq_active}
                  %a{href: '/faq'} FAQ
                %li{class: @news_active}
                  %a{href: '/news'} News
                %li{class: @sources_active}
                  %a{href: '/sources'} Sources

      %noscript
        .alert.alert-warning
          %h3 Sorry, the DoCM website requires Javascript to function properly.
          %p
            You may be interested in using the
            %a{href: '/api'}API
            for programatic access.
      .col-md-9.col-md-offset-1
        -flash.each do |name, msg|
          =content_tag :div, msg, class: ['alert', "alert-#{name}"]

    = yield
    .container-fluid
      .row
        .footer
          .identity.col-sm-4.hidden-xs
            %p
              %a{href: 'http://genome.wustl.edu/'}
              = image_tag("produced-by.png", :alt => 'Produced by The Genome Institute at Washington University')
          .menu.col-xs-12.col-sm-8
            %ul.pull-right.menu-footer
              %li{class: @downloads_active}
                %a{href: '/downloads'} Downloads
              %li{class: @about_active}
                %a{href: '/about'} About
              %li{class: @start_active}
                %a{href: '/start'} Getting Started
              %li{class: @terms_active}
                %a{href: '/terms'} Terms of Service
      .row.visible-xs
        .col-sm-12.identity-xs
          %a{href: 'http://genome.wustl.edu/'}
            = image_tag("produced-by.png", :alt => 'Produced by The Genome Institute at Washington University')